<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <h4>Please enter your registration details below</h4>

    <form method="post" action="https://localhost/user-registration/">
        <input type="text"  name="full_name" id="full_name" placeholder="Enter first name">
        <input type="text" name="last_name" id="last_name" placeholder="Enter last name">
        <input type="text" name="username" id="username" placeholder="enter user name">
        <input type="password" name="password" id="password" placeholder="Create password">
        <input type="text" name="address" id="address" placeholder="enter your physical address">
        <input type="number" name="phone_number" id="phone_number" placeholder="">
        <input type="text" name="email_address" id="email_address">

        <button type="submit">Register User</button>
    </form>

</body>
</html>
